*,
*::before,
*::after {
    will-change: transform opacity;

    transition: transform 250ms, box-shadow 250ms, opacity 250ms, width 100ms, height 100ms;
    user-select: none;
    
    font-family: "Montserrat", sans-serif;
}

@import url(./styles/default.css);
@import url(./styles/animations.css);
@import url(./styles/navigation.css);
@import url(./styles/apps.css);
@import url(./styles/window.css);

body {
    overflow: hidden;

    background: url(./images/wallhaven-w5x2yq.png) no-repeat center center / cover;

    //background: url(./images/pattern.png);

    cursor: default;

    //animation: bg-anim 100s linear infinite;
}

a {
    display: flex;
}

.main {
    
}